
body, html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  height: 100%;
}

footer {
   background-color: #000;
   color: #fff;
   text-align: center;
   padding: 20px;
   font-size: 0.9em; }

.page {
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
}

.start-button {
  background-color: #28a745;
  color: white;
  padding: 20px 32px;
  font-size: 2.0em;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  width: 100%;
  max-width: 480px;
}

h1 {
  font-size: 2.2em;
  color: black;
  margin-bottom: 20px;
}

h2 {
  font-size: 2.0em;
  color: black;
  text-align: center;
  padding: 30px;
}

input[type="text"] {
  padding: 16px;
  font-size: 1.5em;
  width: 80%;
  max-width: 400px;
  margin-bottom: 25px;
  border: 2px solid #ccc;
  border-radius: 4px;
}

button {
  background-color: #007bff;
  color: white;
  padding: 14px 24px;
  font-size: 1.4em;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  width: 60%;
  max-width: 250px;
}

/* スマホ画面に適応するためのメディアクエリ */
@media screen and (max-width: 480px) {
  h1, h2 {
    font-size: 1.3em;
  }

  .start-button,
  input[type="text"],
  button {
    width: 90%;
    font-size: 1.1em;
  }

  .final-image {
    width: 80%;
    max-width: 400px;
    margin-top: 30px;
  }
}
